.count-cart{
	position: absolute; 
	top: 20px; 
	right: 0; 
	min-width: 28px; 
	background: #25bc66; 
	font-weight: bold; 
	border-radius: 15px; 
	color: white;
	text-align: center;
}
.hr-color {
	width: 100%;
	height: 100px;
	margin: 30px 0;
	background: #fff url("../images/hr-bg.png") no-repeat center;
	background-size: cover;
}

/* ********** header ********** */
header {
	margin-top: 40px;
}

.header-nav {
    margin-top: 30px;
}

.header-nav a,
.header-nav button {
	text-transform: uppercase;
	color: #fff;
	font-size: 30px;
}

.header-nav button > .fa {
	margin-left: 10px;
}

.header-nav a > .fa {
	float: right;
	margin-top: 2px;
    font-size: 35px;
}

.header-nav > button {
    background-color: #e062e0;
	border: none;
    padding: 5px 20px;
}

.header-nav.open > button {
    background-color: #c900c9;
    outline: none;
}

.header-items {
	width: 100%;
	margin: 25px 0;
	padding: 0;
	text-align: right;
}

.header-items > li {
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
}

.header-items > li > a,
.header-items > li > a:hover {
	display: table;
	color: #fff;
}

.header-items > li > a > * {
	display: table-cell;
	vertical-align: top;
}

.header-items > li > a > span {
	font-size: 20px;
	color: #000;
	padding-right: 10px;
	text-align: right;
}

/* ********** header-carousel ********** */
.header-carousel .item div * {
	color: #fff;
	margin: 0;
}

.header-carousel .item img {
	display: block;
	width: 100%;
}

.header-carousel .item > div {
	position: absolute;
	left: 30px;
	bottom: 60px;
}

/* ********** price-container ********** */

.price-container {
	margin-bottom: 40px;
}

.price-container > * {
	display: inline-block;
	vertical-align: bottom;
	margin-top: 0;
}
.price-container .price-old {
	text-decoration: line-through;
	text-transform: none;
	color: #989898;
	margin-right: 50px;
	margin-bottom: 15px;
}

.price-container .price {
	position: relative;
	font-weight: bold;
	text-transform: none;
	color: #000;
	padding-right: 90px;
}

.price-container .price span {
	font-size: 90px;
}

.new-price-banner {
    position: absolute;
    top: 77%;
    right: 10px;
    background-color: #f00;
    text-transform: uppercase;
    color: #fff;
    font-size: 17px;
    padding: 7px 15px;
    transform: rotate(-20deg);
}

.section-2 h1 {
	margin-top: 40px;
	margin-bottom: 50px;
}

.section-2 .btn {
	margin-bottom: 90px;
}

.section-3 {
	background: url("../images/container-bg.png") no-repeat bottom center;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 100px;
}
.section-3 h3 {
	color: #fff;
	font-weight: 600;
}
.section-3 > .item,
.section-3 > .item > * {
	display: inline-block;
	vertical-align: bottom;
	float: none;
	font-weight: 600;
}

.section-3 > .item {
	margin-bottom: 50px!important;
}

.section-3 > .item > div {
	width: 50%;
	margin-left: 15px;
}

.section-3 > .item h2 {
	color: #fff;
}

.section-3 > .item p {
	font-size: 24px;
	margin: 0;
}

/* ********** section-sizes ********** */
.section-sizes > h1 {
	margin-top: 100px;
	margin-bottom: 50px;
}

.section-sizes .sizes-desc {
	font-size: 22px;
}

.section-sizes .sizes-container {
	display: table;
	width: 100%;
}

.section-sizes .sizes-container > * {
	display: table-cell;
	vertical-align: top;
	width: 100%;
}

.section-sizes .sizes-container > img {
	width: auto;
    padding-right: 20px;
}

.section-sizes .sizes-table {
	width: 100%;
	background: url("../images/img-4-sizes.png") no-repeat top left;
	background-size: 100% 100%;
	border: 3px solid #ff00ff;
	margin-top: 15px;
	overflow: hidden;
}

.section-sizes .sizes-table > tbody > tr > td {
	border: 2px solid #ff00ff;
	width: 15%;
	vertical-align: top;
	background-color: rgba(255,255,255,.7);
	transition: background-color .3s ease-in-out;
}

.section-sizes .sizes-table > tbody > tr > td.select {
	background-color: transparent
}

.section-sizes .sizes-table > tbody > tr:first-child > td {
	height: 62.5%;
}

.section-sizes .sizes-table > tbody > tr > td:first-child {
	width: 29%;
}

.section-sizes .sizes-table > tbody > tr > td > div {
	background: url("../images/img-4-sizes.png") no-repeat top left;
	width: 75%;
	height: 75%;
	border: 2px solid #ff00ff;
	margin-top: -2px;
    margin-left: -2px;
}

.sizes-range-container {
    margin-top: 120px;
}

#sizes-range {
    position: relative;
    width: 95%;
    height: 10px;
    background-color: #cccccc;
    border-radius: 5px;
    margin: 30px auto 0;
}

span.ui-slider-handle.ui-corner-all.ui-state-default {
	position: absolute;
	width: 40px;
    height: 40px;
    top: 0;
    margin-top: -15px;
    margin-left: -20px;
	background-color: #fff;
	border: 2px solid #cccccc;
	border-radius: 50%;
	cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
    outline: none!important;
}

/* ********** section-popular-templates ********** */
.section-popular-templates h1 {
	margin-top: 200px;
}

.template-filter {
	display: table;
	width: 100%;
	padding: 0;
	margin: 0;
	margin-bottom: 70px;
}

.template-filter > li {
	display: table-cell;
	vertical-align: bottom;
	width: 20%;
	text-align: center;
	padding: 0 25px;
}

.template-filter > li > a {
	display: block;
}

.template-filter > li > a > img {
	padding-bottom: 13px;
	margin: 0 auto;
}

.template-filter > li > a::after {
	content: "";
	display: block;
	width: 0;
	height: 3px;
	margin: 0 auto;
	background-color: #ff6600;
	transition: width .3s ease-in-out;
}

.template-filter > li > a:hover::after,
.template-filter > li > a.active::after {
	width: 100%;
}

.template-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 30px;
}

.template-item canvas {
	margin: auto;
}

/* ********** section-4 ********** */
.section-4 {
	position: relative;
	background: url("../images/section-4.png") no-repeat bottom right;
	background-size: cover;
}

.section-4 .container {
	position: relative;
}

.section-4 h1 {
	color: #fff;
	margin: 287px 0 150px;
}

.section-4 h1 > strong {
	font-size: 85px;
}

.section-4 .btn {
	position: absolute;
	top: 50%;
    right: 0;
}

/* ********** section-5 ********** */
.section-5 {
	margin-top: 55px;
}

.section-5 .section-5-header {
	display: table;
	width: 100%;
}

.section-5 .section-5-header > * {
	display: table-cell;
	vertical-align: middle;
	float: none;
}

.section-5 .section-5-header .hidden-xs > div {
	height: 5px;
}

.section-5 .section-5-header .hidden-xs:first-child > div {
	background-color: #ff00ff;
}

.section-5 .section-5-header .hidden-xs:last-child > div {
	background-color: #ff6600;
}

.section-5 .section-5-content {
	display: table;
	width: 95%;
	margin: 35px auto 15px;
}

.section-5 .section-5-content > div {
	display: table-cell;
	vertical-align: middle;
	float: none;
}

.section-5 .section-5-content h3 {
	font-weight: bold;
    margin-bottom: 0;
}

.section-5 .section-5-content p {
	font-size: 21px;
}

.section-5 .section-5-content .fa {
	font-size: 70px;
    color: #ccc;
}

/* ********** section-questions ********** */
.section-questions > h1 {
	margin: 20px 0 50px;
}

/* ********** section-examples ********** */
.section-examples .row {
	margin-bottom: 100px;
}

.section-examples h2 {
	margin: 10px;
}

.section-examples img {
	border: 2px solid #ff00ff;
	border-radius: 20px;
	margin: 10px auto;
}

/* ********** footer ********** */
footer > h1 {
	margin: 50px 0 30px;
	color: #000;
	text-align: center;
}

footer .container-fluid {
	background: #000 url("../images/footer-bg.png") no-repeat top right;
	background-size: 100% auto;
	padding-top: 75px;
	padding-bottom: 50px;
}

footer .container-fluid h1:not(.text-warning) {
	text-transform: none;
	color: #fff;
}

footer .footer-content > div {
	padding-top: 25px;
	padding-bottom: 25px;
}

footer .b-l {
	border-right: 2px dashed #999;
}

footer .form-feedback div[class^="col-"] {
	padding-left: 2.5px;
	padding-right: 2.5px;
}

footer .form-feedback .form-control {
	margin-bottom: 5px;
	border: none;
}

footer .form-feedback .btn {
	margin-top: 5px;
}

footer a {
	color: #ff6600;
	text-decoration: underline;
}

footer a:hover {
	color: #ff00ff;
	text-decoration: none;
}

footer .social {
	margin-top: 20px;
}

footer .social img {
	display: inline-block;
	height: 80px;
	margin: 10px;
}

/* ********** new-order-form ********** */
.new-order-form {
	margin-top: 100px;
}

.new-order-form > h1 {
	margin-top: 150px;
	margin-bottom: 50px;
	text-align: center;
}

.new-order-form > h1.details-title {
	margin-top: 200px;
	margin-bottom: 100px;
	text-transform: none;
}

.new-order-form .form-group {
	position: relative;
	margin-bottom: 50px;
}

.new-order-form .form-group > div:first-child {
	position: absolute;
	right: 100%;
	text-align: right;
	padding-right: 35px;
	font-size: 40px;
	line-height: 71px;
	white-space: nowrap;
}

.new-order-form .form-group > div:last-child {
	position: relative;
}

.new-order-form .form-group .form-control {
	width: 100%;
    height: auto;
    padding: 5px 20px;
    font-size: 40px;
}

.new-order-form .form-group .logo-container {
	display: table;
	width: 100%;
}

.new-order-form .form-group .logo-container > * {
	display: table-cell;
	width: 90%;
}

.new-order-form .form-group .logo-container label {
	width: 50%;
    padding: 5px 20px;
    font-size: 40px;
}

.new-order-form .input-desc {
	position: absolute;
	display: block;
	top: 100%;
	right: 0;
	font-size: 20px;
	font-style: italic;
	color: #848484;
	line-height: 1;
	margin-top: 5px;
}

.new-order-form .color-container {
	border: 2px solid #b3b3b3;
	padding: 15px;
	margin: 0 0 0 auto;
	width: 71px;
	height: 71px;
}

.new-order-form .color {
	display: block;
	width: 37px;
	height: 37px;
	background-color: #fff;
	border: 0;
	padding: 0;
	margin: 0;
}

.new-order-form input[type="submit"] {
	padding: 5px 60px;
	margin-bottom: 200px;
}














.m-0			{ margin: 0!important; }
.m-t-100		{ margin-top: 100px; }

@media screen and (max-width: 1500px) {
	.header-items {
	    width: auto;
	    margin: 25px -15px;
	}
	.header-items > li > a > img {
	    width: 60px;
	}
}

@media screen and (max-width: 1370px) {
	.header-items {
	    margin: 30px -15px;
	}
	
	.header-items > li > a > img {
	    width: 50px;
	}
	
	.header-items > li > a > span {
		font-size: 17px;
	}
	
	.section-4 {
		text-align: center;
	}
	
	.section-4 h1 {
		margin: 100px 0;
	}
	
	.section-4 .btn {
		position: relative;
	    top: 0;
	    left: 0;
	    margin-bottom: 100px;
	}
}

@media screen and (max-width: 1200px) {
	.logo {
		margin: 0 auto 20px;
	}
	
	header .pull-right {
	    float: left !important;
	}
	
	.header-items {
	    margin: 30px 0;
	}
	
	.container-fluid {
		padding-right: 15px;
		padding-left: 15px;
	}
	
	.header-nav a,
	.header-nav button {
	    font-size: 28px;
	}
	
	#dropdown-toggle-2 + .dropdown-menu {
	    position: relative;
	    left: 0;
	    border: solid #c900c9;
	    border-width: 2px 0;
	}
	
	header .dropdown-menu .fa-angle-right:before {
		content: "\f107";
	}
	
	.header-carousel .item > div {
	    position: absolute;
	    left: 0;
	    bottom: 60px;
	}
	
	.new-order-form .form-group {
		display: table;
		width: 100%;
	}
	
	.new-order-form .form-group > * {
		display: table-cell;
		vertical-align: middle;
		position: relative!important;
	}
	
	.new-order-form .form-group > div:first-child {
		width: 1%;
		right: 0;
	}
	
	.new-order-form .form-1 .form-group > div:first-child {
		width: 30%;
	}
	
	.new-order-form .form-2 .form-group > div.empty {
		display: none;
	}
}

@media screen and (max-width: 991px) {
	.header-carousel .item div h1 {
	    font-size: 50px;
	}
	
	.header-carousel .item div h2 {
	    font-size: 30px;
	}
	footer h1.text-warning {
		font-size: 50px;
	}
	
	.new-order-form > h1 {
		font-size: 40px;
	}
	
	.template-filter > li {
		width: auto;
		padding: 0 10px;
	}
}

@media screen and (max-width: 767px) {
	.masonry[data-columns]::before {
		content: '1 .col-xs-12';
	}
	
	.header-items {
		text-align: center;
	}
	
	header .col-lg-offset-1 {
		text-align: right;
		margin-bottom: 40px;
	}
	
	.header-nav {
		margin-top: 10px;
	}
	
	.header-carousel .item div h1 {
	    font-size: 35px;
	}
	
	.header-carousel .item div h2 {
	    font-size: 20px;
	}
	
	.section-5 .section-5-content,
	.section-5 .section-5-content > div {
		display: block;
		text-align: center;
	}
	
	.section-5 .section-5-content .fa.fa-angle-right:before {
		content: "\f107";
	}
	
	.new-order-form .form-group .logo-container,
	.new-order-form .form-group .logo-container > * {
		display: block;
		width: 100%;
	}
	
	.new-order-form .form-group .logo-container label {
		width: 100%;
		margin-top: 10px;
	}
	
	footer {
		text-align: center;
	}
	
	footer .b-l {
		border: none;
	}
	
	.text-xs-center {
		text-align: center;
	}
}

@media screen and (max-width: 550px) {
	.header-items {
	    text-align: right;
	}
	
	.header-items > li {
		display: block;
		margin-bottom: 15px;
	}
	
	.header-items > li > a,
	.header-items > li > a:hover {
	    display: block;
	}
	
	.header-items > li > a > * {
		display: inline-block;
	}
	
	.header-carousel .item div h1 {
	    font-size: 35px;
	}
	
	.header-carousel .item div h2 {
	    font-size: 20px;
	}
	
	.price-container {
		text-align: center;
	}
	
	.section-2 .btn {
	    margin-bottom: 25px;
	}
	
	.section-3 > .item,
	.section-3 > .item > * {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
	
	.section-3 > .item > div {
	    width: 100%;
	    margin-left: 0;
	    text-align: center;
	}
	
	.section-3 h3 {
		margin-top: 0;
	}
	
	h1 {
		font-size: 40px;
	}
	
	.section-4 h1 > strong {
	    font-size: 60px;
	}
	
	.btn {
		font-size: 30px;
	}
	
	.new-order-form {
		margin-top: 50px;
	}
	
	.new-order-form > h1 {
		margin: 20px;
		font-size: 30px;
		padding: 0 10px;
		font-weight: normal!important;
	}
	
	.new-order-form > h1 > br {
		display: none;
	}
	
	.new-order-form > h1.details-title {
	    margin-top: 40px;
	    margin-bottom: 30px;
	}
	
	.new-order-form .form-group .form-control {
		font-size: 20px;
	}
	
	.new-order-form .input-desc {
		font-size: 14px;
	}
	
	.new-order-form .form-group .logo-container label {
		font-size: 20px;
	}
	
	.new-order-form .form-group > div:first-child {
		padding-right: 15px;
	}
	
	.new-order-form .color-container {
		width: 42px;
		height: 42px;
		padding: 7px;
	}
	
	.new-order-form input[type="submit"] {
		margin-bottom: 0;
	}
	
	.sp-replacer {
		width: 24px;
		height: 24px;
	}
	
	footer h1.text-warning {
	    font-size: 30px;
	}
	
	.carousel-indicators {
		display: none;
	}
	
	.header-carousel .item > div {
		bottom: 30px;
		text-align: center;
	}
	
	.section-popular-templates .col-xs-6 {
	    width: 100%;
	}
	
	#carousel-example-generic {
		display: none;
	}
	
	.section-examples h2 {
		margin: 10px 0px;
    	font-size: 25px;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.masonry[data-columns]::before {
		content: '2 .col-xs-6';
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.masonry[data-columns]::before {
		content: '3 .col-xs-4';
	}
}

@media screen and (min-width: 1120px) {
	.masonry[data-columns]::before {
		content: '3 .col-xs-4';
	}
}